# Dépendances du Backend
backend/node_modules/

# Fichiers d'environnement (contient des secrets !)
backend/.env

# Fichiers de configuration de l'éditeur de code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db